# see https://wiki.jenkins-ci.org/display/JENKINS/Log+Parser+Plugin

ok /not really/
ok /^dpkg-source: warning/
ok /^dpkg-gencontrol: warning/
ok /^dpkg-buildpackage: warning/

# match line starting with 'error ', case-insensitive
error /(?i)^error /

# list of warnings here...
warning /[Ww]arning/
warning /WARNING/

# create a quick access link to lines in the report containing 'INFO'
info /INFO/

