# see https://wiki.jenkins-ci.org/display/JENKINS/Log+Parser+Plugin

ok /not really/

# oh well
ok /^dpkg-source: warning/
ok /^dpkg-gencontrol: warning/
ok /^dpkg-buildpackage: warning/

# make get https://jenkins.debian.net/job/d-i_build_console-setup/ build nicely
ok /^WARNING: U.{5}: can not be positioned properly/
ok /^WARNING: U.{5}: no glyph defined/
ok /^WARNING: U.{5}: .+ broken pixel/
ok /^WARNING: Unknown X keysym/
ok /^WARNING: Can not find/
ok /^WARNING: Skipping too long sequence:/

# make https://jenkins.debian.net/job/d-i_build_debian-installer build nicely
ok /^dpkg: warning: overriding problem because --force enabled:/
ok /^dpkg-distaddfile: warning: File::FcntlLock not available; using flock which is not NFS-safe/
ok /^WARNING: If you have created or modified any DOS 6/

# make these d-i_manual_$lang_pdf job builds "succeed" even though the build then basically is a no-op
ok /^Warning: pdf and ps formats are currently not supported for Chinese, Greek, Japanese and Vietnamese/

# make https://jenkins.debian.net/job/d-i_build_apt-setup/ build nicely
ok /^WARNING: .+: spurious newline removed/

# make https://jenkins.debian.net/view/d-i_packages/job/d-i_build_rootskel-gtk/ build nicely
ok /^install -m644 warning_icon.png.+/

# make https://jenkins.debian.net/job/d-i_build_partman-basicfilesystems build nicely
ok /^dpkg: warning: unable to delete old directory/

# ignore warnings as requested by KiBi in <20140916211708.GW2754@mraw.org>
ok /^dpkg: warning: trying to overwrite .+, which is also in package/
ok /^dpkg-genchanges: warning: the current version .+ is earlier than the previous one/

# match line starting with 'error ', case-insensitive
error /(?i)^error /

# suppress warnings in configure questiosn
ok /warning.+\[N\/y\/\?\] n/
ok /warning.+\[Y\/n\/\?\] y/

# list of warnings here...
warning /[Ww]arning/
warning /WARNING/

# create a quick access link to lines in the report containing 'INFO'
info /^INFO.*/

