# see https://wiki.jenkins-ci.org/display/JENKINS/Log+Parser+Plugin

ok /not really/

ok /Error while decoding stream/

# ignore images…
ok /warning\.png/

# match line starting with 'error ', case-insensitive
error /(?i)^error /

# ignore some stuff
ok /update-binfmts: warning:/
ok /update-rc.d: warning: start and stop actions are no longer supported/
ok /E: Can not write log \(Is /dev/pts mounted/
ok /Warning: there was a problem reading the certificate file \/etc\/ssl\/certs/
ok /dpkg-buildpackage: warning: using a gain-root-command while being root/
ok /warning: the authors of lintian do not recommend running it with root privileges/
ok /test_no_warnings PASSED/

# list of warnings here...
warning /[Ww]arning/
warning /WARNING/

# catch lintian warnings and errors
warning /^W: /
warning /^E: /



