# see https://wiki.jenkins-ci.org/display/JENKINS/Log+Parser+Plugin

ok /not really/

# oh well
ok /^dpkg-source: warning/
ok /^dpkg-gencontrol: warning/
ok /^dpkg-buildpackage: warning/

# trying to get http://jenkins.debian.net/job/d-i_build_console-setup/ build nicely
ok /^WARNING: U.{5}: can not be positioned properly/
ok /^WARNING: U.{5}: no glyph defined/
ok /^WARNING: U.{5}: .+ broken pixel/
ok /^WARNING: Unknown X keysym/
ok /^WARNING: Can not find/
ok /^WARNING: Skipping too long sequence:/

# trying to get http://jenkins.debian.net/job/d-i_build_debian-installer to build nicely
ok /^dpkg: warning: overriding problem because --force enabled:/
ok /^dpkg-distaddfile: warning: File::FcntlLock not available; using flock which is not NFS-safe/
ok /^WARNING: If you have created or modified any DOS 6/

# making http://jenkins.debian.net/job/d-i_build_apt-setup/ build nicely
ok /^WARNING: .+: spurious newline removed/

# match line starting with 'error ', case-insensitive
error /(?i)^error /

# list of warnings here...
warning /[Ww]arning/
warning /WARNING/

# create a quick access link to lines in the report containing 'INFO'
info /INFO/

