# see https://wiki.jenkins-ci.org/display/JENKINS/Log+Parser+Plugin

ok /not really/

ok /Error while decoding stream/

# ignore images…
ok /warning\.png/

# match line starting with 'error ', case-insensitive
error /(?i)^error /

# ignore some stuff
ok /update-binfmts: warning:/
ok /update-rc.d: warning: start and stop actions are no longer supported/
ok /E: Can not write log (Is /dev/pts mounted?/

# list of warnings here...
warning /[Ww]arning/
warning /WARNING/

# catch lintian warnings and errors
warning /^W: /
warning /^E: /


# create a quick access link to lines in the report containing 'INFO'
info /INFO/

