<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {{{meta_refresh}}}
    <link href="/static/style.css?v={{style_dot_css_sha1sum}}" type="text/css" rel="stylesheet" />
    <title>{{page_title}}</title>
  </head>
  <body class="wrapper">
	{{#navigation_html}}
	<header class="head">
      {{{navigation_html}}}
    </header>
    {{/navigation_html}}
    <div {{#navigation_html}}class="mainbody"{{/navigation_html}}>
      {{#main_header}}
      <h2>{{main_header}}</h2>
      {{/main_header}}
      {{{main_html}}}
    </div>
  </body>
</html>
