<table class="body">
  <tr>
    <td>Version annotated:</td>
    <td>{{version}}</td>
  </tr>
  {{{infos}}}
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:right; font-size:0.9em;">
      <p>
        {{{notesgit_description}}}
      </p>
    </td>
  </tr>
</table>
