<ul class="children">
  <li>
    {{{status_html}}}
    {{#build_date}}
    <div><span class="build-time">at {{build_date}}</span></div>
    {{/build_date}}
  </li>
  {{#dbd}}
  <li>
    <div>
      <a href="{{dbd_page_uri}}" title="Show: formatted diffoscope results">
       <img src="/static/diffoscope-logo.png" alt="diffoscope logo" /></a>
      <a href="{{dbd_page_uri}}" title="Show: formatted diffoscope results">
       differences</a>
      {{#dbdtxt_uri}}
      <a href="{{dbdtxt_uri}}" target="main">(txt)</a>
      {{/dbdtxt_uri}}
    </div>
  </li>
  {{/dbd}}
  {{#has_buildloginfo}}
  <li>
    {{#buildinfo_uri}}
    <div>
      <a href="{{buildinfo_uri}}" title="Show: build info" target="main">buildinfo</a>
    </div>
    {{/buildinfo_uri}}
    <div>
      {{#rbuild_uri}}
      <a href="{{rbuild_uri}}" title="Show: log of first build (+some other stuff)" target="main">rbuild ({{rbuild_size}})</a>
      {{/rbuild_uri}}
      {{#buildlogs}}
      <a href="{{build2_uri}}" title="Show: log of second build" target="main">build2 ({{build2_size}})</a>
      <a href="{{diff_uri}}" title="Show: diff between the first and second builds" target="main">diff</a>
      {{/buildlogs}}
    </div>
  </li>
  {{/has_buildloginfo}}
</ul>
