<ul>
  {{#architectures}}
  <li>
    {{arch}}
    <ul class="children">
      {{#suites}}
      <li class="{{li_classes}}">
        {{^untested}}
        <a href="/debian/{{suite}}/{{arch}}/index_{{status}}.html">
          <img src="/static/{{icon}}" alt="{{spokenstatus}}" title="{{spokenstatus}}"/>
        </a>
        {{/untested}}
        {{#untested}}
        <img src="/static/{{icon}}" alt="{{spokenstatus}}" title="{{spokenstatus}}"/>
        {{/untested}}
        {{^current_suitearch}}
        <a href="{{package_uri}}" target="_parent" title="{{spokenstatus}}: {{version}} on {{build_date}}">
          {{version}}
        </a> in <a href="/debian/{{suite}}/{{arch}}/" title="Go to: summary of all tests for {{arch}}/{{suite}}" target="_parent">{{suite}}</a>
        {{/current_suitearch}}
        {{#current_suitearch}}
        {{version}} in <a href="/debian/{{suite}}/{{arch}}/" title="Go to: summary of all tests for {{arch}}/{{suite}}" target="_parent">{{suite}}</a>
        {{/current_suitearch}}
		{{#dbd_page_uri}}{{^current_suitearch}}
		<a href="{{dbd_page_uri}}" class="diff-link" title="Show: formatted diffoscope results">
		  <img src="/static/diffoscope-logo.png" alt="diffoscope logo" /></a>
		{{/current_suitearch}}{{/dbd_page_uri}}
        {{{suitearch_details_html}}}
      </li>
      {{/suites}}
    </ul>
  </li>
  {{/architectures}}
</ul>
