<p style="font-size:0.9em;">
A package name displayed with a <span style="font-weight: bold;">bold
font</span> is an indication that this package has a note. Visited
packages are linked in green, those which have not been visited are
linked in blue.
<br />
A <code><span class="bug">&#35;</span></code> sign after the name of a package
indicates that a bug is filed against it. Likewise, a
<code><span class="bug-patch">&#43;</span></code> sign indicates there is a
patch available, a <code><span class="bug-pending">P</span></code> means a
pending bug while <code><span class="bug-done">&#35;</span></code> indicates a
closed bug. In cases of several bugs, the symbol is repeated.
</p>
