<p>
{{#png}}
  <a href="{{png}}">
    <img src="{{png}}" class="overview"
     title="Package set {{pkgset_name}} in {{suite}}/{{arch}}. (To switch suite and arch, see top left.)"
     alt="package set {{pkgset_name}} in {{suite}}/{{arch}}">
  </a>
  {{/png}}
  <br />
  The package set <span class="highlight">{{pkgset_name}}</span> in
  <span class="highlight">{{suite}}/{{arch}}</span> consists of:
  <br />
  {{#status_details}}
  {{{icon_html}}} {{status_count}} ({{status_percent}}%) packages
  {{description}}:
  {{{package_list_html}}}
  <br />
  {{/status_details}}
  {{{pkg_symbol_legend_html}}}
</p>
