@charset "utf-8";


#jenkins-name-icon {
   display: none;
}
#jenkins-home-link  {
    background: url(title.png) 0 0 no-repeat;
    display: block;
    margin: 0 0 0 1em;
    width: 300px;
    height: 34px;
    } 
#jenkins-head-icon  {
   position: absolute;
   left: 3px;
}

body {
  background-image: url(debian-swirl.png) !important;
  background-repeat: no-repeat;
  background-position: bottom right !important;
}

