/**
 * Reset some basic elements
 *
*/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

img.logo {
	max-width: 50%;
	height: auto;
	padding: 1em;
	margin: 0.5em;
}

/**
 * Basic styling
 */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; }

table {
  background: #ececf5 none repeat scroll 0 0;
  border: 1px solid #bcd;
  margin-bottom: 1.5em;
  padding: 0.65em;
  width: 100%;
  font-size: 0.80em;
  border-collapse: collapse;
}

table tr td {
  border-top: 1px dotted #bcd;
}

table tr td, table th {
  padding: 0.15em 0.75em;
}

#variation th:first-child {
  width: 23%;
}
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

@media all and (min-width: 768px) {
  .title #page-description p {
    font-size: 14pt !important;
    height: 115px;
    display: table-cell !important;
    vertical-align: middle !important;
    padding-top: 35px; } }
@media all and (max-width: 767px) {
  .title img.img-circle {
    padding: 3px;
    width: 50px; }
  .title h1 {
    margin-top: 40px;
    font-size: 1.8em; }
  .title #page-description p {
    font-size: 1em !important;
    height: 70px;
    display: table-cell !important;
    padding-top: 15px; } }

/**
 * Site footer
 */
footer {
  margin-top: 80px; }

.footer {
  background-color: #e6e6e6;
  color: #777;
  font-size: 13px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  font-family: "Open sans"; }
  .footer .widget-title {
    color: #8d8d8d;
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase; }
  .footer .widget-body {
    color: #777;
    font-size: 13px; }
  .footer dd {
    line-height: 1.6;
    margin-left: 0; }
  .footer a {
    color: #000 !important; }

/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

