/**
 * Reset some basic elements
 *
*/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

img.logo {
	max-height: 40%;
	width: auto;
	padding: 0.5em;
	margin: 0.5em;
	float: right;
}

/**
 * Basic styling
 */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  padding: 0.5em;
  margin: 1em;
}

table {
  background: #ececf5 none repeat scroll 0 0;
  border: 1px solid #bcd;
  margin-bottom: 1.5em;
  padding: 0.65em;
  width: 100%;
  font-size: 0.80em;
  border-collapse: collapse;
}

table tr td {
  border-top: 1px dotted #bcd;
}

table tr td, table th {
  padding: 0.15em 0.75em;
}

#variation th:first-child {
  width: 23%;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl {
  margin: 0.25em; 
  padding: 0.25em}

/**
 * Lists
 */
ul, ol {
  margin-left: 2em; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #0088cc;
  text-decoration: none; }
  a:visited {
    color: green; }
  a:hover {
    color: #0088cc;
    text-decoration: underline; }


/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 0.75em 1em;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }


/**
 * Site footer
 */
footer {
  margin-top: 4em; }

.footer {
  background-color: #e6e6e6;
  color: #777;
  font-size: 13px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2em;
  font-family: "Open sans"; }
  .footer .widget-title {
    color: #8d8d8d;
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 1.5em 0;
    text-transform: uppercase; }
  .footer .widget-body {
    color: #777;
    font-size: 13px; }
  .footer dd {
    line-height: 1.6;
    margin-left: 0; }
  .footer a {
    color: #000 !important; }


